@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }
}

@font-face {
  font-family: 'Storm';
  src: url('/fonts/storm.ttf') format('truetype');
}

*,
body,
html {
  --tw-transform: translateX(0%);
}

@theme {
  --font-storm: 'Storm', sans-serif;
  --color-background: hsl(0 0% 100%);
  --color-foreground: hsl(0 0% 3.9%);
  --color-card: hsl(0 0% 100%);
  --color-card-foreground: hsl(0 0% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 3.9%);
  --color-primary: hsl(0 0% 9%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(0 0% 96.1%);
  --color-secondary-foreground: hsl(0 0% 9%);
  --color-muted: hsl(0 0% 96.1%);
  --color-muted-foreground: hsl(0 0% 45.1%);
  --color-accent: hsl(0 0% 96.1%);
  --color-accent-foreground: hsl(0 0% 9%);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(0 0% 89.8%);
  --color-input: hsl(0 0% 89.8%);
  --color-ring: hsl(0 0% 3.9%);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);
  --radius: 0.5rem;

  /* Border Radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  @keyframes flicker {
    0% {
      transform: scale(0.95, 1.05);
    }
    25% {
      transform: scale(0.98, 1.02);
    }
    50% {
      transform: scale(1.02, 0.98);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    100% {
      transform: scale(0.98, 1.02);
    }
  }

  --animate-flicker: flicker 1s infinite alternate;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.flame {
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.pixelated {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 2px 2px 0px #000;
}

.flameInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fbbf24;
  cursor: pointer;
  border-radius: 50%;
}

.flameInput::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fbbf24;
  cursor: pointer;
  border-radius: 50%;
}
